nest-simulator/2.20.0/timers:
- gsl
- boost/1.74.0
- cmake
- mpi

nest-simulator/2.20.0:
- gsl
- boost/1.74.0
- cmake
- mpi

boost:
- gcc/10.2.0

gsl/2.6:
- gcc/10.2.0

cmake: []

#Python:
#- gcc/10.2.0
#
#Python/3.8.5:
#- gcc/10.2.0
#
#gcc/10.2.0:
#- gmp
#- mpfr
#- mpc
#
#gmp: []
#
#mpfr:
#- gmp
#
#mpc:
#- mpfr
